@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Georgian:wght@100..900&display=swap');

.servicesContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.mainContainer {
  height: 100vh;
  display: flex;
}

.leftSection {
  width: 52%;
  background-color: hsla(0, 3%, 13%, 1);
}
.rightSection {
  width: 48%; /* Take up 50% of the width */
  /* background-color: #31363f; */
}

.homeImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* display: block; */
  object-position: 49.107142857142854% 22.619047619047617%;
}

.infoContainer {
  margin-top: 300px;
  margin-left: 150px;
  margin-right: 150px;
}
.infoHeading {
  color: hsla(27, 18%, 66%, 1);
  font-size: 49px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 30px;
}
.infoParagraph {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.9;
  margin-bottom: 60px;
  color: #ccc;
  font-family: "Noto Sans Georgian", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.servicesSectionContainer {
  text-align: center;
  color: hsla(27, 18%, 66%, 1);
  margin-top: 100px;
  /* height: 700px; */
  padding: 0px 200px;
  margin-bottom: 100px;
}

.quote {
  padding: 0px 260px;
  white-space: pre-wrap;
  font-weight: 300;
  font-size: 45px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.companyName {
  margin-bottom: 100px;
}

.customHr {
  border: none;
  height: 1px;
  background: hsla(27, 18%, 66%, 1);
  width: 100%;
  border-radius: 5px;
}

.joinUsContainer {
  margin-top: 100px;
}

@media (max-width: 1820px) {
  .leftSection {
    /* width: 53%; */
  }
  .rightSection {
    /* width: 47%; */
  }
  .infoContainer {
    margin-top: 250px;
  }
  .infoHeading {
    font-size: 44px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
  .infoParagraph {
    font-size: 14px;
    /* font-weight: 200; */
    line-height: 1.9;
    margin-bottom: 40px;
  }

  .quote {
    padding: 0px 100px;
    font-size: 32px;
  }
  .aboutSectionQuote {
    padding: 0px;
    gap: 15px;
    /* padding-top: 350px; */
  }
  .joinUsContainer {
    padding: 0px;
    gap: 20px;
  }
  .AboutSectionContainer {
    padding: 0px 50px;
  }
  .companyName {
    margin-bottom: 50px;
  }
}

@media (max-width: 1678px) {
  .servicesSectionContainer {
    padding: 0px 100px;
  }
}

@media (max-width: 1362px) {
  .infoContainer {
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .homeImage {
    height: 100vh;
  }
  .AboutSectionContainer {
    /* padding: 0px 100px; */
  }
}

@media (max-width: 1060px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .leftSection {
    width: 100%;
  }
  .infoHeading {
    font-size: 32px;
    padding-left: 50px;
    padding-right: 50px;
    /* padding-right: 50px; */
  }
  .rightSection {
    width: 100%;
  }

  .blogContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* overflow: scroll; */
  }

  .infoContainer {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    margin-bottom: 50px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; */
  }
  .aboutSectionQuote {
    margin-bottom: 0px;
  }
  .textOne {
    padding: 0px 30px;
  }
  .AboutSectionContainer {
    padding: 0px 0px;
    margin: 0;
  }
}

@media (max-width: 890px) {
  .infoContainer {
    margin-bottom: 100px;
  }
}

@media (max-width: 600px) {
  .servicesSectionContainer {
    padding: 0px 50px;
  }
  .infoContainer {
    margin-bottom: 250px;
  }
}

@media (max-width: 726px) {
  .AboutSectionContainer {
    padding: 0px 0px;
  }
  .textOne {
    padding-left: 20px;
    padding-right: 20px;
    /* word-break: break-all; */
  }
  .companyName {
    font-size: 14px;
  }
}

@media (max-width: 505px) {
  .aboutSectionQuote {
    padding-top: 80px;
  }
}

@media (max-width: 514px) {
  .rightSection {
    padding-right: 20px;
    padding-left: 20px;
  }
  .quote {
    padding: 0px 10px;
    font-size: 20px;
  }
  .infoHeading {
    font-size: 20px;
    padding: 0px;
  }
  .infoParagraph {
    font-size: 11px;
  }
  .companyName {
    font-size: 11px;
  }
  .textOne {
    font-size: 11px;
  }
  .aboutSectionQuote {
    padding: 20px 0px;
  }
}

@media (max-width: 440px) {
  .quote {
    padding: 0px 50px;
    font-size: 28px;
  }
  .blogImage {
    width: 300px;
  }
}

@media (max-width: 380px) {
  .servicesSectionContainer {
    padding: 0px 30px;
  }
  .rightSection {
    padding: 0px;
  }
  .quote {
    padding: 0px;
  }
}
