.serviceBlogContainer {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 200;
}

.firstRow, .secondRow{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}
/* .secondRow {
  display: flex;
  gap: 30px;
} */
.rowCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* flex: 1; */
}

.cardTitle {
  color: hsla(27, 18%, 66%, 1);
  font-weight: 400;
  margin-bottom: 20px;
}
.cardDesc {
  font-weight: 300;
  text-align: left;
  margin-bottom: 60px;
}


.serviceBlogImage {
  object-fit: cover;
  width: 352px;
  height: 335px;
}

@media (max-width: 1678px) {
  .firstRow, .secondRow {
    flex-direction: column;
  }
  .rowCard {
    flex-direction: column;
  }
  .serviceBlogImage {
    width: 100%;
      object-position: 49.107142857142854% 22.619047619047617%;
  }
  .secondRow .rowCard {
    flex-direction: column-reverse;
  }
  .serviceBlogContainer {
    margin-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .cardTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .cardDesc {
    font-size: 11px;
  }
  .rowCard {
    gap: 10px;
  }
}

/* @media (max-width: 365px) {
  .serviceBlogImage {
    width: 250px;
  }
} */