@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url('https://fonts.cdnfonts.com/css/minerva-modern-font-family'); */
@import url('https://fonts.cdnfonts.com/css/omnes-2');

@font-face {
  font-family: minerva-modern;
  src: url(https://use.typekit.net/af/2d15e1/00000000000000003b9afd25/27/l?subset_id=2&fvd=n4&v=3);
}

.navbarContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 77px 135px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100%;
}

.linksContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 99999;
}

.socialsContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 99999;
}

.logo {
  /* font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200; 
  font-style: normal;
  */
  font-family: minerva-modern;
  font-style: normal;
  /* font-weight: 600; */
  letter-spacing: 3px;
  font-size: 3.375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  color: #ffffff;
  z-index: 99999;
}

.link {
  color: #ffffff;
  /* font-weight: bold; */
  font-size: 0.875rem;
  font-family: 'Omnes', sans-serif;
  font-weight: 600;
  letter-spacing: 0.9x;
}

.socialLogo {
  object-fit: contain;
  /* margin-top: 6px; */
}

.langSelectorSmall {
  display: none;
}

.hamburgerLinksContainer {
  opacity: 0; /* Hidden by default */
  visibility: hidden; /* Make it non-interactable */
  transform: scale(0.95); /* Slightly smaller */
  transition: opacity 0.4s ease, transform 0.4s ease;
  position: fixed; /* Fixed to the viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex; /* Prepare the layout */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: hsla(0, 3%, 13%, 1);
  /* z-index: -1; */
}

.bar {
  width: 40px;
  height: 45px;
  object-fit: cover;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(13deg) brightness(104%)
    contrast(101%);
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.closeBtn {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(13deg) brightness(104%)
    contrast(101%);
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* From Uiverse.io by NAKAMOZ */
/* Hide the default checkbox */
.burger input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: block;
}

.burger {
  display: none;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  z-index: 99999;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 40px;
}

.checkmark span {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}

.burger input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  background-color: hsla(27, 18%, 66%, 1);
}

.burger input:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
  background-color: hsla(27, 18%, 66%, 1);
}

.burger input:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  opacity: 0;
}

@media (max-width: 1012px) {
  .logo {
    position: static;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
  .burger {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .linksContainer {
    display: none;
  }
  .link {
    font-size: 44px;
    color: hsla(27, 18%, 66%, 1);
  }
  .navbarContainer {
    padding: 50px 40px;
  }
  .active .logo {
    color: hsla(27, 18%, 66%, 1);
  }
  .active .hamburgerLinksContainer {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Make it interactable */
    transform: scale(1); /* Restore original size */
    z-index: 100; /* Bring it to the front */
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  .hamburgerLinksContainer.close {
    opacity: 0; /* Fade out */
    transform: scale(0.95); /* Shrink */
    visibility: hidden; /* Hidden after transition */
    transition: opacity 0.4s ease, transform 0.4s ease,
      visibility 0s linear 0.4s; /* Visibility changes after animation ends */
  }
  .langSelectorSmall {
    display: block;
    z-index: 99999;
  }
  .socialsContainer {
    display: none;
  }
}

@media (max-width: 450px) {
  .navbarContainer {
    /* padding: 30px 20px; */
    padding-top: 20px;
    background-color: hsla(0, 3%, 13%, 1);
    padding-bottom: 20px;
  }
  .burger {
    padding-top: 10px;
  }
  .langSelectorSmall {
    padding-top: 10px;
  }
   /* .navbarContainer {
    background-color: hsla(0, 3%, 13%, 1);
   } */
}
