.footerContainer {
  height: 200px;
  margin: 10px 200px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}
.customHr {
  border: none;
  height: 1px;
  background: hsla(27, 18%, 66%, 1);
  margin: 10px 0;
  width: 100%;

  border-radius: 5px;
  min-width: 400px;
}

.followHeading {
  color: hsla(27, 18%, 66%, 1);
  font-size: 3.12rem;
}

.termsContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
}

.termsText {
  color: hsla(27, 18%, 66%, 1);
  text-decoration: underline;
  font-size: 14.4px;
}

.companyName {
  font-size: 14.4px;
}

@media (max-width: 1252px) {
  .footerContainer {
    /* height: 270px; */
    text-align: center;
  }
  .followHeading {
    font-size: 28px;
  }
}

@media (max-width: 938px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0px 200px;
  }
  .termsContainer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 0;
  }
}

@media (max-width: 788px) {
  .footerContainer {
    padding: 0px 30px;
  }
}

@media (max-width: 465px) {
  .footerContainer {
    padding: 0px 10px;
  }
  .customHr {
    min-width: 100px;
  }
  .followHeading {
    display: none;
  }
}