@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Georgian:wght@100..900&display=swap');

.homeContainer {
  /* height: 100vh; */
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-bottom: 100px;
  width: 100%;
  min-height: 100vh;
}

.leftSection {
  width: 52%;
  /* background-color: hsla(0, 3%, 13%, 1); */
  padding-top: 300px;
  padding-left: 200px;
  padding-right: 200px;


  /* width: 100%;
  max-width: 1020px; */
  /* padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}
.rightSection {
  width: 48%;
  background-color: #31363f;
  /* height: 900px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeImage {
  /* object-fit: cover;
  width: 100%;
  height: 100vh; */
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* display: block; */
    object-position: 50% 0%;
}

/* .infoContainer {
  padding-top: 350px;
  padding-left: 200px;

  max-height: 100vh;
} */
.infoHeading {
  color: hsla(27, 18%, 66%, 1);
  font-size: 49px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 20px;
}
.infoParagraph {
  font-size: 1rem;
  /* font-weight: 200; */
  line-height: 1.9;
  margin-bottom: 60px;
  color: #ccc;
  font-family: "Noto Sans Georgian", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@media (max-width: 1746px) {
  .leftSection {
    padding-top: 200px;
    padding-left: 135px;
    padding-right: 100px;

    /* width: 53%; */
  }
  .rightSection {
    /* width: 47%; */
  }
  .infoHeading {
    font-size: 44px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
  .infoParagraph {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.9;
    margin-bottom: 40px;
  }
}

@media (max-width: 1012px) {
  .homeContainer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .leftSection {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }
  .infoHeading {
    font-size: 32px;
    /* padding-right: 50px; */
  }
  .infoParagraph {
    /* padding-right: 50px; */
  }
  .rightSection {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .leftSection {
    text-align: center;
  }
  .infoHeading {
    font-size: 28px;
  }
}